.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: 40px;
  padding: 1%;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 10px;

  background-color: inherit;
  color: lightgray;

  font-family: 'League Gothic', sans-serif;
  cursor: pointer;
}

.image {
  height: 20px;
  float: left;
  margin: 0;
}