.move {
  animation: move 10s ease-in-out infinite;
}

@keyframes move {
  0%{top: 70%; left: 1%; z-index: 6}
  25%{top: 75%}
  50%{top: 60%; left:60%; }
  75%{top: 50%; z-index: 4}
  100%{top: 70%; left: 1%;}
}
